body{
    height: 1500;
    width: 1500;
    background-image: url("../images/metin-seven_3d-animated-gif-animation_retro-pong-game-console.gif");
    background-size : 1920px 1200px;
    background-repeat: no-repeat;
    background-position: 0% 25%;
}
form{
    animation-name: join;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
}
@keyframes join{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
fieldset{
    width:450px;
    height:200px;
    margin-left:770px;
    margin-top:240px;  
    background-color: white;
    border:3px solid black;
}
ul{
    list-style: none;
    text-align: center;
}
ul legend{
  font-family: fantasy;
  font-weight: 900;
  font-size: 40px;
}
ul li{
    margin:20px;
}
ul li label{
    width:120px;
    padding-right:20px;
    padding-bottom: 15px;;
    text-align:right;
    float:left;
    font-size: 20px;
    font-family: sans-serif;
}
input[type = "submit"]{
    width: 180px;
    height: 30px;
    margin-top: 15px;
    margin-left: 820px;
}
input[type = "button"]{
    width:180px;
    height:30px;
    margin-left:20px;
    margin-top: 15px;
}